<div id="sessions" style="width:500px;">
	<%= form_for(@profile, :html => {:multipart => true }) do |f| %>
	  <% if @profile.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

	      <ul>
	      <% @profile.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<table>
	
	<% if current_user.admin? %><tr><td><%= f.label :user_id %></td><td> <%= f.collection_select(:user_id, User.all, :id, :name)%> <% end %></td></tr>
	  <%= f.hidden_field :retained_avatar_image %>
	    <tr><td><%= f.label :avatar%></td>
	    <td>   <%= image_tag @profile.avatar_image.thumb('100x100').url if @profile.avatar_image_uid %><BR/>
	    <%= f.file_field :avatar_image %>
	    <%= f.check_box :remove_avatar_image %> Remove Image
	    </td></tr>
		<tr><td><%= f.label :about_me %></td><td> <%= f.text_field :about_me %></td></tr>
	  <tr><td><%= f.label :mood %></td><td> <%= f.text_field :mood %></td></tr>
	  <tr><td><%= f.label :twitter %></td><td> <%= f.text_field :twitter %></td></tr>
	  <tr><td><%= f.label :goodreads %></td><td> <%= f.text_field :goodreads %></td></tr>
	  <tr><td><%= f.label :public_email %></td><td> <%= f.text_field :public_email %></td></tr>
	  <tr><td><%= f.label :website %></td><td> <%= f.text_field :website %></td></tr>
	  <tr><td><%= f.label :send_via_email %></td><td> <%= f.check_box :send_via_email %></td></tr>
	  <tr><td><%= f.label :interests %> </td><td> <%= f.autocomplete_field :interest_list, autocomplete_interests_name_profiles_path, :"data-delimiter" => ', ', :multiple => true %> (Sailing, Programming, etc.)</td></tr>
	  <tr><td><%= f.label :skills%> </td><td> <%= f.autocomplete_field :skill_list, autocomplete_skills_name_profiles_path, :"data-delimiter" => ', ', :multiple => true %> </td></tr>
	  <tr><td><%= f.label :needs%> </td><td> <%= f.autocomplete_field :need_list, autocomplete_needs_name_profiles_path, :"data-delimiter" => ', ', :multiple => true %> </td></tr>
	  <tr><td><%= f.label "Terms and Conditions" %></td><td> 
		The aim of the checkin-system is to help you identify and connect, and ice-break conversations with interesting other folks in The Edge community. This user profile allows you to specify information about you, so interested users at The Edge can better identify and find you. By swiping your user card at a check-in point, you leave a digital footprint of your profile information at the check-in system including a timestamp and location where you checked-in. The system aggregates and visualises this information in graphical and textual form using different media in The Edge building, such as projections and LCD screens. Please only enter information in your user profile that you feel comfortable sharing as part of the content on these media. Your use and participation in the checkin system is voluntary and will not change your relationship to The Edge.<BR/><BR/> <%= f.check_box :terms_and_conditions %> I accept these terms<BR/>
		</td></tr>
		</table>
<BR/>

	  <div class="actions">
	    <%= f.submit :class => "btn btn-success" %>
	  </div>
	<% end %>
</div>
<BR/>