
<div class="reservations" >
	<div class="row">
		<div class='nav nav-pills"'>
			<ul><%= link_to 'New Profile', new_profile_path, :class => "btn" %></ul>
		</div>
		<BR/>	
	</div>
	<% @profiles.each do |profile| %>
	<div class="border-box">
		<div class="row">
			<div class="span3" >
				<%=  profile_image(profile) %>
			</div>
			<div class="span6 offset1">
				<div class="span4" >
					<%= link_to profile.user.name, profile, :class => "btn btn-large" if profile.user %>
					</div>
					<div class="span2">
						<div> <%= profile.about_me %></div>
					</div>
			    
			</div>
		
			<div class=" row span12" >
				<% if profile.mood.present? %>
				<div style="padding-top:5px;"> <span class='label'>Availability: </span> <%= profile.mood %> </div>
				<% end %>

			    <div style="padding-top:5px;"><%= link_to profile.website, profile.website %></div>
   				<% if profile.interests.present? %>
				<div style="padding-top:5px;"> <span class='label'>Interests:</span><% profile.interests.each do |interest| %> <%= link_to interest.name, tagged_url(:interest => interest.name), :class => "tag" %> <% end %>
				</div>
				<% end %>	

				<% if profile.skills.present? %>
				<div style="padding-top:5px;"><span class='label'>Skills:</span> <% profile.skills.each do |skill| %> <%= link_to skill.name, tagged_url(:skill => skill.name), :class => "tag" %> <% end %> 
				</div>
				<% end %>
				<% if profile.needs.present? %>
				<div style="padding-top:5px;"><span class='label'>Needs Help With: </span><% profile.needs.each do |need| %> <%= link_to need.name, tagged_url(:need => need.name), :class => "tag" %> <% end %>
				</div>
				<% end %>
				<div class="btn-group" style="padding-top:10px;">
			     <%= link_to raw("<i class='icon-eye-open icon-white'></i> &nbsp See More"), profile, :class => "btn btn-small" %>
			     <% if current_user.admin? %><a href="#" class="btn btn-small">|</a> <% end %>
			     <%= link_to raw('<i class="icon-pencil icon-white"></i> &nbsp   Edit'), edit_profile_path(profile), :class => "btn btn-small"  if current_user.admin? %>
			     <% if current_user.admin? %><a href="#" class="btn btn-small">|</a> <% end %>
			     <%= link_to raw('<i class="icon-trash icon-white"> </i> &nbsp  Destroy'), profile, :class => "btn btn-small btn-danger" , method: :delete, data: { confirm: 'Are you sure?' }  if current_user.admin?  %>
			 
			</div>
			
		</div>
	</div>
	</div>
	<% end %>

	<br />
	<div class="row">
			<%= paginate @profiles%>
	</div>
</div>
