
<div class="border-box" >
		<table class="index_table" style="width:100%;">
		<tr>
	 		<td><%= profile_image(@profile)%></td>
			<td><span class="profile_user_name"><%=  @profile.user.name if @profile.user %></span>
			<BR/><%= @profile.about_me %></td>
		</tr>

	</table>
	<BR/>
	<p> <span class="label"><% if @checkin %> Last Checked in:</span> <%=time_ago_in_words(@checkin.check_in_time) %> ago <% else %> Hasn't checked in yet! <% end %>

	<p>
	  <span class="label">About me:</span>
	  <%= @profile.about_me %>
	</p>

	<p>
	  <span class="label">Availability:</span>
	  <%= @profile.mood %>
	</p>

	<p>
	  <span class="label">Twitter:</span>
	  <%= @profile.twitter %>
	</p>

	<p>
	  <span class="label">Goodreads:</span>
	  <%= @profile.goodreads %>
	</p>

	<p>
	  <span class="label">Public email:</span>
	  <%= @profile.public_email %>
	</p>

	<p>
	  <span class="label">Website:</span>
	  <%= @profile.website %>
	</p>

	<p>
	  <span class="label">Toc accept:</span>
	  <%= @profile.toc_accept %>
	</p>

	<p>
	  <span class="label">Send via email:</span>
	  <%= @profile.send_via_email %>
	</p>

	<p>
		<span class="label"> Interests: </span>
		<% @profile.interests.each do |interest| %>
			<%= link_to interest.name, tagged_url(:interest => interest.name) %> , 
		<% end %>
	</p>
	<span class="label">Skills: </span>
		<% @profile.skills.each do |skill| %>
			<%=  link_to skill.name, tagged_url(:skill => skill.name) %>, 
		<% end %>
	</p>

	<p>
		<span class="label"> Needs: </span>
		<% @profile.needs.each do |need| %>
			<%=  link_to need.name, tagged_url(:need => need.name) %>, 
		<% end %>
	</p>
	<BR/>

	<div style="padding-bottom:5px;">
		<%= link_to 'Back', profiles_path, :class => "btn btn-small" %>
	</div>
</div>