
<p>
  <b>Room:</b>
  <%= @check_in.room_id %>
</p>

<p>
  <b>Check in time:</b>
  <%= @check_in.check_in_time %>
</p>

<p>
  <b>Check out time:</b>
  <%= @check_in.check_out_time %>
</p>


<p>
  <b>User:</b>
  <%= @check_in.user.name %>
</p>

<div class="btn-group" style="padding-top:10px;">
  <%= link_to 'Edit', edit_check_in_path(@check_in), :class => "btn btn-small" %> 
  <%= link_to 'Back', check_ins_path, :class => "btn btn-small" %>
</div>