<h1>Listing venues</h1>


<% @venues.each do |venue| %>
 <div class="row">
    <div><h3><%= venue.name %> </h3> </div>
    <div> Open From  <%= venue.open_from %> to <%= venue.open_to %>    
    </div> 
    <div> <%= venue.open_days %></div>
    <div class="btn-group" style:"padding-top:5px;">
      <%= link_to 'Show', venue, :class=> "btn btn-small" %>
      <a href="#" class="btn btn-small">|</a> 
      <%= link_to 'Edit', edit_venue_path(venue), :class=> "btn btn-small" %>
      <a href="#" class="btn btn-small">|</a> 
      <%= link_to 'Destroy', venue, :class=> "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>


<br />
<div style="padding-top:10px;">
<%= link_to 'New Venue', new_venue_path, :class => "btn btn-small" %>
</div> 