<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %><br />
    <%= f.collection_select(:room_id, Room.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :stop_time %><br />
    <%= f.datetime_select :stop_time %>
  </div>
  <div class="field">
    <%= f.label :number_of_attendies %><br />
    <%= f.number_field :attendie_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
