<h1>Listing reservations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Room</th>
    <th>Start time</th>
    <th>Stop time</th>
    <th>Attendie count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.user.name %></td>
    <td><%= reservation.room.name %></td>
    <td><%= reservation.start_time %></td>
    <td><%= reservation.stop_time %></td>
    <td><%= reservation.attendie_count %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
