<div class="title">Your Reservations</div>

<table width="100%">
  <tr>
    <th>User</th>
    <th>Room</th>
    <th>Time</th>
    <th>Attendie count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.user.name %></td>
    <td><%= reservation.room.name %></td>
    <td><%= format_date(reservation.stop_time) %> &nbsp <%= format_time(reservation.start_time, reservation.stop_time) %> 	 </td>
    <td><%= reservation.attendie_count %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Delete', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
