<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= @reservation.user.name %>,<BR/>
You have made a reservation for <%=@reservation.room.name%> on <%= @reservation.start_time.month%> <%= @reservation.start_time.day %> at <%=@reservation.start_time.time%> 
    <p>
      To edit or cancel this reservation please <a href=<%=@url %> click here </a>
    </p>

  </body>
</html>