<div id = "sessions">
	<h2>Sign in</h2>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<table>
		<tr><td><div><%= f.label :email %> </td>
		<td><%= f.email_field :email, :autofocus => true, :placeholder => "you@yourdomain.com" %></td></tr>
		<tr><td><%= f.label :password %> </td><td><%= f.password_field :password %></td></tr>
	</table>

  
  <% if devise_mapping.rememberable? -%>
    <div style="padding-bottom:10px;">
    	<%= f.label :remember_me %>
    	<%= f.check_box :remember_me %> 
    </div>
  <% end -%>

  <div><%= f.submit "Sign in" , :class => "btn btn-success btn-bock" %></div>
<% end %>

	<div class="btn-group">
		<%= render "devise/shared/links" %>
	</div>
</div>