<h1>Listing rooms</h1>
<div class="row">
    <%= link_to 'New Room', new_room_path, :class => "btn btn-mini" %>
</div>


<% @rooms.each do |room| %>
  <div class="row border-box" style="padding-top:5px;padding-bottom:5px;">
    <div> <h3><%= room.name %></h3></div>
    <div><span class="label">Open  from </span><%= room.ophoursstart %> <span class="label"> to </span> <%= room.ophoursstop %> <span class="label">on</span> <%= room.operating_days %></div>
    <div><span class="label">Capacity</span>&nbsp <%= room.capacity %></div>
    <div><span class="label">Notes</span>&nbsp <%= room.notes %></div> 
    <div class="btn-group" style="padding-top:10px;"> 
        <%= link_to 'Show', room, :class => "btn btn-small" %> 
        <a href="#" class="btn btn-small">|</a>
        <%= link_to 'Edit', edit_room_path(room), :class => "btn btn-small" %> 
        <a href="#" class="btn btn-small">|</a>
        <%= link_to 'Destroy', room, :class => "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

  </div>
  <br/>
<% end %>

<div class="row">
    <%= paginate @rooms %>
</div>
