<p id="notice"><%= notice %></p>

<p>
  <b>Room Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Operating hours start:</b>
  <%= @room.ophoursstart %>
</p>

<p>
  <b>Operating hours stop:</b>
  <%= @room.ophoursstop %>
</p>

<p>
  <b>Days of Operation:</b>
  <%= @room.operating_days %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>

<p>
  <b>Notes:</b>
  <%= @room.notes %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_room_path(@room), :class => "btn btn-small" %> |
  <a  class="btn btn-small">|</a>
  <%= link_to 'Back', rooms_path, :class => "btn btn-small"  %>
</div>