<p id="notice"><%= notice %></p>

<p>
  <b>Room Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Operating hours start:</b>
  <%= @room.ophoursstart %>
</p>

<p>
  <b>Operating hours stop:</b>
  <%= @room.ophoursstop %>
</p>

<p>
  <b>Days of Operation:</b>
  <%= @room.operating_days %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>

<p>
  <b>Notes:</b>
  <%= @room.notes %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
