<!DOCTYPE html>
<html>
	<head>
	  <title>Gelatine</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <script src="http://d3js.org/d3.v3.min.js"></script>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="hero-unit", style="padding:40px;"><h1>Gelatine</h1></div>	
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav nav-tabs">
						<% if current_user %>
						<li <%= active?(:profiles, :index) %> > <%= link_to "User Community", profiles_path%>
						</li>
						<li <%= active?("devise/registrations", :edit ) %> > <%= link_to "My Profile", edit_registration_path(current_user)%>
						</li>
						<li <%= active?(:check_ins, :new) %>  >
							<%= check_in_check_out %>
					 	</li>
						<li>
						 	<%= link_to "Log Out", destroy_user_session_path %>
					 	</li>
					 	<% if current_user.admin? %>
					 	<li class="dropdown"> 
					 		<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Adminitrative <b class="caret"></b></a> 
						
						    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						      <li> <%= link_to "Rooms", rooms_path %> </li>
						      <li> <%= link_to "Venues", venues_path %> </li>
						      <li> <%= link_to "Check Ins", check_ins_path %> </li>
						    </ul>
					    </li>
					    
					      <% end %>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="row">
				<% if notice || alert %>
			        <% if notice %>
			    		<button type="button" class="close" data-dismiss="alert">&times;</button>
			        	<div class="alert alert-success"><%= notice %></div>
			        <% elsif alert %>
			        	<button type="button" class="close" data-dismiss="alert">&times;</button>
			        	<div class="alert alert-error"><%= alert %></div>
			        <% end %>
				<% end %>
			</div>
			<div class="row">
				<%= yield %>
			</div>

			<footer role="contentinfo"> </footer>
		</div>
	</body>
</html>
