<!DOCTYPE html>
<html>
<head>
  <title>BookARoom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="top">
			<div id="title"> Room Reservation Service</div>
			<div id="menu">
				<% if current_user %>
				<span class="menu_item"><%= link_to "Create Reservation", new_reservation_path %></span>
				<span class="menu_item"> <%= link_to "My Account", edit_registration_path(current_user) %></span>
				
				<span class="menu_item"> <a href="/auth/logout">logout</a></span>
				<% end %>
			</div>
		</div>
		
		<% if notice || alert %>
		  <div class="flash-message <%= notice ? "notice" : ""%><%= alert ? "error" : ""%>">
		    <div class="container container_12 clearfix">
		      <div class="grid_12">
		        <% if notice %>
		          <p><%= notice %></p>
		        <% elsif alert %>
		          <p><%= alert %></p>
		        <% end %>
		      </div>
		    </div>
		  </div>
		<% end %>
	<div id="main">

		<%= yield %>
	</div>
	<footer role="contentinfo"> </footer>
</div>
</body>
</html>
