<!DOCTYPE html>
<html>
	<head>
	  <title>Gelatine</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <script src="http://d3js.org/d3.v3.min.js"></script>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="headline">
					<div class="hero-unit"><h1>Gelatine</h1></div>	
			</div>
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav nav-tabs">
						<% if current_user %>
						<li <%= active?(:profiles, :index) %> > <%= link_to "User Community", profiles_path%>
						</li>
						<li <%= active?("devise/registrations", :edit ) %> > <%= link_to "My Profile", edit_registration_path(current_user)%>
						</li>
						<li <%= active?(:check_ins, :new) %>  ><%= link_to "Check In", new_check_in_path%> 
					 	</li>
						<li>
						 	<%= link_to "Log Out", destroy_user_session_path %>
					 	</li>
						<% end %>
					</ul>
				</div>
			</div>
			<% if notice || alert %>
			<div class="flash-message">
			
			        <% if notice %>
			          <p><%= notice %></p>
			        <% elsif alert %>
			          <p><%= alert %></p>
			        <% end %>
			 
			</div>
			<% end %>
			<div id="main">
				<%= yield %>
			</div>

			<footer role="contentinfo"> </footer>
		</div>
	</body>
</html>
